<li class="<%= html_class %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="icon-<%= icon %>"></i>
    <%= title %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <% items.each do |item| %>
      <li><a href="<%= item[1] %>"><%= item[0] %></a></li>
    <% end %>
  </ul>
</li>
