<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BrewLog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tag %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">BrewLog</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="divider-vertical"></li>
              <%= nav_link "Dashboard", "dashboard", "/" %>
              <%= nav_link "Recipes", "book", "/recipes" %>
              <%= nav_link "Batches", "inbox", "/batches" %>
              <%= nav_dropdown "Ingredients", "beaker", [
                ["Fermentables", fermentables_path],
                ["Hops", hops_path],
                ["Yeast", yeasts_path]
              ] %>
              <%= nav_link "Profiles", "tags", "/profiles" %>
              <%= nav_link "Settings", "cogs", "/settings" %>
            </ul>
            <p class="navbar-text pull-right">
              <%= current_user.email %> - <%= link_to("Sign out", destroy_user_session_path, method: :delete) %>
            </p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <% if flash[:notice] %>
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:error] %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% end %>

      <%= yield %>

      <hr>

      <footer>
        <p>&copy; BrewLog <%= Time.now.strftime("%Y") %></p>
      </footer>

    </div><!--/.fluid-container-->
  </body>
</html>
